<div>
  <p>I am a PhD. student  at the University of Rennes 1.
    I am working at <strong>Orange Labs</strong> in the IDEA/PIA team and <strong>INRIA/IRISA</strong>
    in the <strong><a href="http://diverse.irisa.fr/">Diverse Team</a></strong>.
    My Thesis supervisors are <strong><a href="http://olivier.barais.fr/">Olivier Barais</a></strong>
    and <strong><a href="http://www.irisa.fr/triskell/members/gerson.sunye/index_html?set_language=en">Gerson Sunye</a></strong>.</p>

  <p>I am currently working on Trust Models for Real-time Communication Systems. The goal of this survey is to get feedback
  from two categories of users that may share interest in this trust model, industrial security expert and end-users.
  Gathering your feedback will help improves my trust model. But it may also reveal similarities or difference
  in the way these two categories of users perceives security issues in conversational systems. </p>

  <p>If you have any questions or remarks that would not fit in this survey, feel free to contact me directly.</p>
  <strong><a href="http://kcorre.github.io/">Kevin Corre</a></strong><br/><br/>
</div>

<!--
<div ng-controller="FormController">
  <form name="myForm"
        sf-schema="schema"
        sf-form="form"
        sf-model="model"
        ng-submit="onSubmit()"></form>
</div>
-->

<!--<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>-->
